#registerPage{
  font-family: "Times New Roman";
  width: 530px;
  margin-left: 745px;
  margin-top: 200px;
  border: 1px solid black;
  border-radius: 20px;
}
.title1{
  font-family: "Times New Roman";
  color: black;
  font-size: 50px;
  width: 400px;
  margin-left: 70px;
}
.line{
  height: 65px;
}
.form2{
  margin-top: 40px;
  width: 460px;
}

