#ia{
  color: black;
}
.title{
  font-size: 50px;
  position: absolute;
  left: 10px;
}
.Aback{
  font-size: 20px;
  width: 20px;
  position: absolute;
  top: 20px;
  left: 1320px;
  cursor: pointer;
}
.pre{
  position: absolute;
  bottom: 5px;
  left: 20px;
  cursor: pointer;
}
.next{
  position: absolute;
  bottom: 5px;
  right: 20px;
  cursor: pointer;
}
