#bg{
  font-family: "Times New Roman";
}
input{
  width: 160px;
  height: 23px;
  margin-left: 27px;
  border: none;
}
.input{
  line-height: normal;
  width: 200px;
  height: 25px;
  float: right;
  border-radius: 10px;
  border: 1px solid black;
  margin-top: -25px;
  margin-right: 50px;
}
.img{
  width:20px;
  height:20px;
  position: absolute;
  right: 375px;
  top:39px;
}
.login{
  float:right;
  margin-top: -20px;
  margin-right: 20px;
  border: 1px solid white;
  border-radius: 5px;
  width: 50px;
  cursor: pointer;
  color: black;
}
.login:hover{
  color: white;
  background-color: black;
}
.left{
  font-size: 20px;
  color: black;
  width: 300px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 5px;
  line-height: 28px;
}
.left1{
  float: left;
  color: black;
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: -2px;
}

li:hover{
  color: white;;
  background-color: black;
  cursor: pointer;
}
.bt:hover{
  background-color: black;
  color: white;
}
.main{
  width: 1370px;
  height: 825px;
  margin-left: 380px;
  border-radius: 15px;
}
.wel{
  font-size: 70px;
  color: black;
  margin-left: -5px;
  line-height: 350px;
}
.el-carousel__item h3 {
  color: #475669;
  font-size: 18px;
  opacity: 0.75;
  line-height: 300px;
  margin: 0;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
  background-color: #d3dce6;
}
.scrollImage{
  margin-top: 200px;
  margin-left: 200px;
  width: 1000px;
}
.navigateBar{
  width: 1350px;
  margin-left: 10px;
}
